<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <a href='{% url "shop" %}'><img src='{% static "./logo.png" %}' alt="logo.png"></a>
    <h1>Contacto</h1>
    <p><b>Dirección:</b> Av. Le Vayer 1234</p>
    <p><b>Teléfono:</b> +541156714322</p>
    <p><b>Email:</b> contacto@indumentaria-online.com</p>
    <a href='{% url "shop" %}'>Volver al inicio</a>
</body>
</html>